/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif; /* Changed font to Arial */
  line-height: 1.8; /* Increased line height for better readability */
  background-color: #efefef; /* Changed background color to efefef */
  color: #000000; /* Changed text color to black */
  font-size: 18px; /* Increased base font size for better readability */
}

.container {
  width: 90%; /* Slightly narrower container */
  margin: 0 auto;
  max-width: 1200px; /* Kept maximum width */
}

/* Header styling */
header {
  background-color: #875626; /* Changed header color to 875626 */
  color: #fff;
  padding: 20px 0; /* Decreased padding for a slimmer header */
}

/* Welcome text styling */
.welcome-text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Search bar styling */
.search-bar {
  padding: 15px;
  text-align: center;
}

.search-bar input {
  padding: 10px;
  border: 2px solid #875626; /* Changed border color to 875626 */
  border-radius: 5px;
  font-size: 16px;
  width: 60%;
  max-width: 400px;
}

.search-bar button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #875626; /* Changed button color to 875626 */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
}

.search-bar button:hover {
  background-color: #6c4121; /* Darker color on hover */
}

/* Flex container styling */
.flex-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Better distribution of items */
}

/* Flex item styling */
.flex-item {
  margin: 20px;
  width: 200px; /* Fixed width for square shape */
  height: 200px; /* Fixed height for square shape */
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}

.flex-item:hover {
  transform: scale(1.1); /* Expand on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2); /* Lighter shadow on hover with extra edge shadow */
  background: linear-gradient(45deg, #ff00ff, #00ffff); /* Gradient background on hover */
}

/* Footer styling */
footer {
  background-color: #875626; /* Changed footer color to 875626 */
  color: #fff;
  padding: 15px 0; /* Decreased padding for slimmer footer */
  text-align: center;
}

/* Home button styling */
.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #875626; /* Changed button color to 875626 */
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.home-button:hover {
  background-color: #6c4121; /* Darker color on hover */
}










